Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000

For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9. 
X can be placed before L (50) and C (100) to make 40 and 90. 
C can be placed before D (500) and M (1000) to make 400 and 900.
Given an integer, convert it to a roman numeral.

In [1]:
dict({1:'I',
     5:'V',
     10:'X',
      50:'L',
      100:'C',
      500:'D',
      1000:'M'
     })

{1: 'I', 5: 'V', 10: 'X', 50: 'L', 100: 'C', 500: 'D', 1000: 'M'}

In [8]:
def intToRoman(num: int) -> str:
    d = {1000: 'M', 900: 'CM', 500: 'D', 400: 'CD', 100: 'C', 90: 'XC', 50: 'L', 40: 'XL', 10: 'X', 9: 'IX', 5: 'V', 4: 'IV', 1: 'I'} 

    res = ""

    for i in d:
        print(i,num//i)
        res += (num//i) * d[i]
        num %= i

    return res

In [10]:
intToRoman(127)

1000 0
900 0
500 0
400 0
100 1
90 0
50 0
40 0
10 2
9 0
5 1
4 0
1 2

'CXXVII'

In [20]:
d = {1000: 'M',
     900: 'CM', 
     500: 'D', 
     400: 'CD', 
     100: 'C', 
     90: 'XC', 
     50: 'L', 
     40: 'XL', 
     10: 'X', 
     9: 'IX', 
     5: 'V', 
     4: 'IV', 
     1: 'I'} 

def intToRoman(num: int) -> str:
    
    d = {1000: 'M',
     900: 'CM', 
     500: 'D', 
     400: 'CD', 
     100: 'C', 
     90: 'XC', 
     50: 'L', 
     40: 'XL', 
     10: 'X', 
     9: 'IX', 
     5: 'V', 
     4: 'IV', 
     1: 'I'} 
    roman=''
    for i in d:
        quo ,num = divmod(num,i)
        roman+=d[i]*quo
        
    return(roman)

In [19]:
intToRoma(4)

'IV'

In [31]:
integer, roman = list(zip(*list(d.items())))

In [33]:
print(list(integer))
print(list(roman))

[1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
['M', 'CM', 'D', 'CD', 'C', 'XC', 'L', 'XL', 'X', 'IX', 'V', 'IV', 'I']

In [34]:

def intToRoman( num):
    """
    :type num: int
    :rtype: str
    """
    integer = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
    roman = ['M', 'CM', 'D', 'CD', 'C', 'XC', 'L', 'XL', 'X', 'IX', 'V', 'IV', 'I']
    result=''
    for i in range(len(integer)):
        quo, num = divmod(num,integer[i])
        result+=roman[i]*quo
    return(result)

In [83]:
def RomanToInt(text):
    """
    :type num: int
    :rtype: str
    """
#     integer = [1000, 500, 100,  50, 10, 5, 1]
#     roman = ['M', 'D', 'C', 'L',  'X', 'V', 'I']
    d = {'M': 1000, 'D': 500, 'C': 100, 'L': 50, 'X': 10, 'V': 5, 'I': 1}
    prev,result=0,0
    for t in reversed(text):
        now = d[t]
        if(prev>now):
            print(prev,now)
            result-=now
            prev=now
        else:
            result+= now
            prev=now
    print(result)
RomanToInt('MCMXCIV')

0 1000
100 1000
10 100
1 5
-1883

In [38]:
integer = [1000, 500, 100,  50, 10, 5, 1]
roman = ['M', 'D', 'C', 'L',  'X', 'V', 'I']
integer[::-1]

[1, 5, 10, 50, 100, 500, 1000]

In [40]:
dict(zip(roman,integer))

{'M': 1000, 'D': 500, 'C': 100, 'L': 50, 'X': 10, 'V': 5, 'I': 1}

In [57]:
RomanToInt('XXIV')

25